<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-label position="floating">id_usuario</ion-label>
    <ion-input type="number" [(ngModel)]="id_usuario"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">titulo</ion-label>
    <ion-input type="text" [(ngModel)]="titulo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">contenido</ion-label>
    <ion-input type="text" [(ngModel)]="contenido"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="enviarDatos()">Enviar</ion-button>
</ion-content>