<div class="contenedor_registro">
  <div class="grid">
    <div class="row justify-content-center">
      <div class="col">
        <div class="card">
          <div class="titulo_aling">
            <h1>My diary</h1>
          </div>
          <div class="card-header">
            <h1>Inicio de sesión</h1>
          </div>
          <div class="card-content">
            <form class="form_login">
              <div class="item">
                <label for="nombre_usuario" position="floating">Usuario</label>
                <input type="nombre_usuario" id="nombre_usuario" name="nombre_usuario" required>
              </div>
              <div class="item">
                <label for="contrasena" position="floating">Contraseña</label>
                <input type="contrasena" id="contrasena" name="contrasena" required>
              </div>
              <button type="submit" class="iniciar_sesion" href="/tabs/tab1"> Iniciar sesion</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>