<div class="contenedor_registro">
  <div class="grid">
    <div class="row justify-content-center">
      <div class="col">
        <div class="card">
          <div class="titulo_aling">
            <h1>My Diary</h1>
          </div>
          <div class="card-header">
            <h1>Registro</h1>
          </div>
          <div class="card-content">
            <form class="form_login">
              <div class="item">
                <label for="name" position="floating">Nombre de usuario</label>
                <input type="text"  id="name" name="name" required>
              </div>
              <div class="item">
                <label for="email" position="floating">Correo electrónico</label>
                <input type="email" id="email" name="email" required>
              </div>
              <div class="item">
                <label for="password" position="floating">Contraseña</label>
                <input type="password"  id="password" name="password" required>
              </div>
              <!-- <div class="item"> -->
                <!-- <label for="repeatPassword" position="floating">Repetir contraseña</label> -->
                <!-- <input type="password" [(ngModel)]='repeatPassword' id="repeatPassword" name="repeatPassword" required> -->
              <!-- </div> -->
              <ion-button href="/login">Registrarse</ion-button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>