<div class="contenedor_registro">
  <div class="grid">
    <div class="row justify-content-center">
      <div class="col">
        <div class="card">
          <div class="titulo_aling">
            <h1>My Diary</h1>
          </div>
          <div class="card-header">
            <h1>Registro</h1>
          </div>
          <div class="card-content">
            <ion-row class="form" justify-content-center  (ngSubmit)="signup()">
              <ion-grid class="login" >
                <input class="input" type="email" placeholder="Nombre" [(ngModel)]='name' id="name" name="name" required>
                <input class="input" type="email" placeholder="Email"  name="user" [(ngModel)]='email'>
                <input class="input" type="password" placeholder="Contraseña" name="password" [(ngModel)]='password'>              
                <input class= "iniciar_sesion" type="submit" value="Entrar" (click)="signup()">
                <a class="button" href="/login"> ¿Ya tienes una cuenta? </a>
              </ion-grid>
            </ion-row>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>